
/* 
    Created on : Apr 7, 2025, 9:10:37 PM
    Author     : saman
*/

.root{
-fx-background-color: #121212;
-fx-font-family: 'Berlin Sans FB', sans-serif;
-fx-font-size: 18px;
                                            
}
.tab{
-fx-background-color: #727773;
-fx-background-radius: 35px;
-fx-border-radius: 35px;
-fx-border-color: #7fab8c;
-fx-border-width: 3px;
-fx-text-fill: white;
-fx-font-size: 36px;
-fx-padding: 15px;

}
.tab:active{
-fx-background-color: #046A38;
-fx-text: white;
}
/*Study Timer*/
#btn_5min{
-fx-background-color: #2a302b;
-fx-border-color: #7fab8c;
-fx-font-size: 36px;
-fx-text-fill: white;
-fx-background-radius: 50%;
-fx-border-radius: 50%;

}
#btn_10min{
-fx-background-color: #2a302b;
-fx-border-color: #7fab8c;
-fx-font-size: 36px;
-fx-text-fill: white;
-fx-background-radius: 50%;
-fx-border-radius: 50%;

}
#btn_15min{
-fx-background-color: #2a302b;
-fx-border-color: #7fab8c;
-fx-font-size: 36px;
-fx-text-fill: white;
-fx-background-radius: 50%;
-fx-border-radius: 50%;

}
#btn_30min{
-fx-background-color: #2a302b;
-fx-border-color: #7fab8c;
-fx-font-size: 36px;
-fx-text-fill: white;
-fx-background-radius: 50%;
-fx-border-radius: 50%;

}
#btn_45min{
-fx-background-color: #2a302b;
-fx-border-color: #7fab8c;
-fx-font-size: 36px;
-fx-text-fill: white;
-fx-background-radius: 50%;
-fx-border-radius: 50%;

}
#btn_60min{
-fx-background-color: #2a302b;
-fx-border-color: #7fab8c;
-fx-font-size: 36px;
-fx-text-fill: white;
-fx-background-radius: 50%;
-fx-border-radius: 50%;

}
#btn_120min{
-fx-background-color: #2a302b;
-fx-border-color: #7fab8c;
-fx-font-size: 36px;
-fx-text-fill: white;
-fx-background-radius: 50%;
-fx-border-radius: 50%;

}
#btn_start{
-fx-background-color: #669b76;
-fx-border-color: #7fab8c;
-fx-border-width: 3px;
-fx-font-size: 18px;
-fx-text-fill: white;
-fx-background-radius: 25px;
-fx-border-radius: 25px; 
}
#btn_stop{    
-fx-background-color: #727773;
-fx-font-size: 18px;
-fx-text-fill: white;
-fx-background-radius: 25px;
-fx-border-radius: 25px; 
-fx-border-color: #7fab8c;

}
#btn_reset{
-fx-background-color: #2a302b;
-fx-border-color: #7fab8c;
-fx-border-width: 3px;
-fx-font-size: 18px;
-fx-text-fill: white;
-fx-background-radius: 25px;
-fx-border-radius: 25px;     
}
#timer_output{
-fx-background-color: #2a302b;
-fx-text-fill: white;
-fx-border-color: #7fab8c;
-fx-background-radius: 15px;
-fx-border-radius: 15px; 
}
#timer_input{
-fx-background-color: #2a302b;
-fx-text-fill: white;
-fx-border-color: #7fab8c;
-fx-background-radius: 15px;
-fx-border-radius: 15px;   
}
/*Calendar*/
#btnJanuary{
   -fx-background-color: #2a302b;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: white;
   -fx-border-color: #7fab8c;
}
#btnFebruary{
   -fx-background-color: #2a302b;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: white;
   -fx-border-color: #7fab8c;
}
#btnMarch{
   -fx-background-color: #2a302b;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: white;
   -fx-border-color: #7fab8c;
}
#btnApril{
   -fx-background-color: #2a302b;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: white;
   -fx-border-color: #7fab8c;
}
#btnMay{
   -fx-background-color: #2a302b;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: white;
   -fx-border-color: #7fab8c;
}
#btnJune{
   -fx-background-color: #2a302b;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: white;
   -fx-border-color: #7fab8c;
}
#btnJuly{
   -fx-background-color: #2a302b;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: white;
   -fx-border-color: #7fab8c;
}
#btnAugust{
   -fx-background-color: #2a302b;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: white;
   -fx-border-color: #7fab8c;
}
#btnSeptember{
   -fx-background-color: #2a302b;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: white;
   -fx-border-color: #7fab8c;
}
#btnOctober{
   -fx-background-color: #2a302b;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: white;
   -fx-border-color: #7fab8c;
}
#btnNovember{
   -fx-background-color: #2a302b;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: white;
   -fx-border-color: #7fab8c;
}
#btnDecember{
   -fx-background-color: #2a302b;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: white;
   -fx-border-color: #7fab8c;
}
.weekday{
   -fx-background-color: #046A38;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: white;
}
#calendarGrid{
   -fx-background-color: #2a302b;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: white;
   -fx-padding: 10px;
   -fx-background-radius: 10px;
   -fx-border-radius: 10px; 
   -fx-border-color: #7fab8c;
}
#addEventButton{
   -fx-background-color: #2a302b;
   -fx-font-size: 18px;
   -fx-text-fill: white;
   -fx-background-radius: 15px;
   -fx-border-radius: 15px;
   -fx-border-color: #7fab8c;
}
/*To-Do*/
#toDoHeader{
   -fx-font-size: 72px;
   -fx-text-fill: white;
}
#toDoTable{
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-padding: 10px;
   -fx-background-radius: 10px;
   -fx-border-radius: 10px;  
   -fx-background-color: #2a302b;
   -fx-font-size: 18px;
   -fx-text-fill: white;
   -fx-border-color: #7fab8c;
}
#toDoClass{
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: #046A38;
   -fx-padding: 10px;
   -fx-background-radius: 10px;
   -fx-border-radius: 10px; 
  
}
#toDoAssignmentName{
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: #046A38;
   -fx-padding: 10px;
   -fx-background-radius: 10px;
   -fx-border-radius: 10px; 

}
#toDoDueDate{
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: #046A38;
   -fx-padding: 10px;
   -fx-background-radius: 10px;
   -fx-border-radius: 10px; 
  
}
#toDoCompleted{
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: #046A38;
   -fx-padding: 10px;
   -fx-background-radius: 10px;
   -fx-border-radius: 10px; 
    
}
#toDoDelete{
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: #046A38;
   -fx-padding: 10px;
   -fx-background-radius: 10px;
   -fx-border-radius: 10px; 
   
}
#addAssignment{
   -fx-background-color: #2a302b;
   -fx-font-size: 18px;
   -fx-text-fill: white;
   -fx-background-radius: 15px;
   -fx-border-radius: 15px;
   -fx-border-color: #7fab8c;
}
/*Timetable*/
#lblDate{
   -fx-font-size: 72px;
   -fx-text-fill: #046A38;    
}
#timetableBox{
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-text-fill: #046A38;
   -fx-padding: 10px;    
}
#timetableSunday{
  -fx-background-color: #2a302b;   
  -fx-padding:15px;
  -fx-font-size: 36px;
  -fx-text-fill: #138742;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px; 
  -fx-border-color: #7fab8c;
}
#timetableMonday{
  -fx-background-color: #2a302b;   
  -fx-padding:15px;
  -fx-font-size: 36px;
  -fx-text-fill: #138742;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px; 
  -fx-border-color: #7fab8c;
}
#timetableTuesday{
  -fx-background-color: #2a302b;   
  -fx-padding:15px;
  -fx-font-size: 36px;
  -fx-text-fill: #138742;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px; 
  -fx-border-color: #7fab8c;
}
#timetableWednesday{
  -fx-background-color: #2a302b;   
  -fx-padding:15px;
  -fx-font-size: 36px;
  -fx-text-fill: #138742;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px; 
  -fx-border-color: #7fab8c;
}
#timetableThursday{
  -fx-background-color: #2a302b;   
  -fx-padding:15px;
  -fx-font-size: 36px;
  -fx-text-fill: #138742;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px; 
  -fx-border-color: #7fab8c;
}
#timetableFriday{
  -fx-background-color: #2a302b;   
  -fx-padding:15px;
  -fx-font-size: 36px;
  -fx-text-fill: #138742;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px; 
  -fx-border-color: #7fab8c;
}
#timetableSaturday{
  -fx-background-color: #2a302b;   
  -fx-padding:15px;
  -fx-font-size: 36px;
  -fx-text-fill: #138742;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px; 
  -fx-border-color: #7fab8c;
}
.timetableTable{
  -fx-background-color: #2a302b;   
  -fx-text-fill: #138742;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px; 
  -fx-border-color: #7fab8c; 
}
/*Home*/
#classNameTable{
  -fx-font-family: 'Berlin Sans FB', sans-serif;    
}
#addClassButton{
   -fx-background-color: #2a302b;
   -fx-font-size: 18px;
   -fx-text-fill: white;
   -fx-background-radius: 15px;
   -fx-border-radius: 15px;
   -fx-border-color: #7fab8c;
   
}
#homePageTable{
   -fx-background-color: #2a302b; 
   -fx-background-radius: 0px 0px 15px 15px;
   -fx-border-radius: 0px 0px 15px 15px; 
   -fx-text-fill: white;
   -fx-font-family: 'Berlin Sans FB', sans-serif; 
   -fx-border-color: #7fab8c; 
}
#homeToday{
   -fx-background-color: #2a302b;
   -fx-font-size: 18px;
   -fx-text-fill: white;
   -fx-border-color: #7fab8c;
}
